.container{
    width: 60%;
    margin: auto;
    margin-top: 70px;
}
.details{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 17px;
    float: left;
}
.image{
    display: none;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    margin: 10px;
}
.image1{
    float: left;
}
.image2{
    float:right;
}
.img{
    width: 250px;
    height: 150px;
    border-radius: 5px;
    margin: 0px 10px 10px 10px; 
}
.rule-div{
    margin-bottom: 50px;
}
p{
    font-family:sans-serif;
}
@media screen and (max-width:468px) {
    .container{
        width: 100%;
        margin-top: 60px;
    }
    .image{
        display: block;
        border-radius: 1px;
        width: 97%;
        margin: auto;
    }
    .image1,.image2{
        display:none;
    }
    p{
        font-size: 18px;
    }

}